body{
    background-color: #142d5f;
    font: 14px "Open Sans",sans-serif;
}

.wrapper{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.main_header a:hover{
    text-decoration: none;
}

.header_content{
    background-color: #F7F7F7;
    height: auto;
    padding: 15px 0;
    border-top: 7px solid #142D5F;
}

.left, .logo, .right {
    padding: 15px 0;
}

.langs{
    width: 16px;
    height: 16px;
}

.search{
    margin-top: 10px;
    position: relative;
}

form.search > input.form-control{
    background-color: #fff;
    border: none;
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0,123,255,0) !important;
}

form > i.fas{
    position: absolute;
    color: #C4D600;
    top: 11px;
    right: 5%;
    font-size: 1.2rem;
}
.right{
    min-width: 330px;
}
.login a{
    color: #000;
    text-decoration: none;
    margin-right: 75px;
}

.header_button{
    width: 137px;
    height: 33px;
    padding: 0 5px;
    background-color: #C4D600;
    line-height: 33px;
    border-radius: 3px;
}

.header_button > a{
    height: 100%;
    width: 100%;
    color: #fff;
}

.header_button > a:hover{
    color: #fff;
}

.cart{
    color: #fff;
    background-color: #C4D600;
    margin-right: 24px;
}

.fav{
    background-color: #E1E1E1;
}

.fav > a{
    color: #142D5F;
}

.fav > a:hover{
    color: #142D5F;
}

ul.nav {
    margin: 14px auto 0 auto;
}

.nav > .nav-item {
    padding: 12px 15px;
}

.nav > .nav-item > a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.nav > .nav-item > a:hover{
    color: #C4D600;
    text-decoration: none;
}

div.carousel, div.carousel-inner, div.carousel-item{
    max-height: 569px !important;
}

div.carousel{
    margin-bottom: 25px;
}

div.popular > h3{
    display: inline-block;
    margin-bottom: 28px;
    padding: 0 18px 8px 18px;
    border-bottom: 1px solid rgba(247,247,247,1);
}

.products{
    margin-bottom: 20px;
}

.product_card{
    max-width: 300px;
}

.product_card > img{
    background-color: #F7F7F7;
    margin-bottom: 10px;
}

.short_info h4{
    font-size: 1.1rem;
    font-weight: 450;
}

.short_info h4, .short_info p{
    line-height: 1;
    margin-bottom: 0.5em;
}

.model_vendor_code{
    opacity: 0.4;
}

.partners{
    background-color: #F7F7F7;
    height: auto;
    padding: 20px 0;
}

.partner_logo {
    padding: 0 15px;
}

.partner_logo > a > img {
    width: 180px;
    height: 70px;
}

.main_footer{
    background-color: #14224A;
    height: auto;
    padding: 20px 0;
    font-size: 12px;
}

.main_footer a{
    color: #c4d600;
}

.main_footer .topic {
    color: #9EA5B5;
    font-size: 14px;
    margin-bottom: 7px;
}

.contacts > p {
    color: white;
}

input.sub_email{
    height: 29px;
    background-color: #14224A;
    line-height: 29px;
    border-radius: 3px;
    margin-right: 10px;
}

.sub_button{
    width: 117px;
    height: 29px;
    margin-right: 10px;
    background-color: #C4D600;
    line-height: 29px;
    border-radius: 3px;
}

.footer_nav{
    column-count: 2;
    column-gap: 3px;
    column-width: 100px;
}

.copyright{
    background-color: #142D5F;
    height: 48px;
    line-height: 48px;
    color: #9EA9BD;
}