body{
    background-color: #142d5f;
    font: 14px "Open Sans",sans-serif;
}

.wrapper{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.header_content{
    background-color: #F7F7F7;
    height: auto;
    padding: 15px 0;
    border-top: 7px solid #142D5F;
}

.left, .logo, .right {
    padding: 15px 0;
}

.langs{
    width: 16px;
    height: 16px;
}

.search{
    margin-top: 10px;
}

form.search > input.form-control{
    background-color: #EFF8FA;
}

.account_left{
    padding: 0 18px;
}

.login a{
    color: #000;
    text-decoration: none;
}

.header_button{
    width: 137px;
    height: 33px;
    margin-top: 16px;
    padding: 0 5px;
    background-color: #C4D600;
    line-height: 33px;
    border-radius: 3px;
}
.cart{
    color: #fff;
    background-color: #C4D600;
}

.fav{
    color: #142D5F;
    background-color: #E1E1E1;
}

ul.nav {
    margin: 14px auto 0 auto;
}

.nav > .nav-item {
    padding: 12px 15px;
}

.nav > .nav-item > a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.nav > .nav-item > a:hover{
    color: #C4D600;
    text-decoration: none;
}

div.carousel, div.carousel-inner, div.carousel-item{
    max-height: 569px !important;
}

div.carousel{
    margin-bottom: 25px;
}

div.popular > h3{
    display: inline-block;
    margin-bottom: 28px;
    padding: 0 18px 8px 18px;
    border-bottom: 1px solid rgba(247,247,247,1);
}

.product_card{
    margin-right: 13px;
}

.product_card > img{
    background-color: #F7F7F7;
    margin-bottom: 10px;
}

.product_card:last-of-type{
    margin-right: 0;
}